@model EditSubnetViewModel

<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">Network Information</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">Network Address</dt>
            <dd class="col-sm-8"><strong>@Model.NetworkAddress</strong> (read-only)</dd>
            
            <dt class="col-sm-4">Subnet Mask</dt>
            <dd class="col-sm-8">@Model.SubnetMask</dd>
            
            @if (Model.ParentSubnetInfo != null)
            {
                <dt class="col-sm-4">Parent Subnet</dt>
                <dd class="col-sm-8">@Model.ParentSubnetInfo</dd>
            }
            
            <dt class="col-sm-4">Created</dt>
            <dd class="col-sm-8">@Model.CreatedAt.ToString("g")</dd>
            
            @if (Model.LastModifiedAt.HasValue)
            {
                <dt class="col-sm-4">Last Modified</dt>
                <dd class="col-sm-8">@Model.LastModifiedAt.Value.ToString("g")</dd>
            }
        </dl>
    </div>
</div>
