@model SubnetDetailsViewModel

<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">Subnet Details</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">Description</dt>
            <dd class="col-sm-8">@(string.IsNullOrEmpty(Model.Description) ? "N/A" : Model.Description)</dd>
            
            <dt class="col-sm-4">Tags</dt>
            <dd class="col-sm-8">@(string.IsNullOrEmpty(Model.Tags) ? "None" : Model.Tags)</dd>
            
            <dt class="col-sm-4">Created</dt>
            <dd class="col-sm-8">@Model.CreatedAt.ToString("g")</dd>
            
            <dt class="col-sm-4">Last Modified</dt>
            <dd class="col-sm-8">@(Model.LastModifiedAt.HasValue ? Model.LastModifiedAt.Value.ToString("g") : "Never")</dd>
            
            <dt class="col-sm-4">Created By</dt>
            <dd class="col-sm-8">@(string.IsNullOrEmpty(Model.CreatedBy) ? "Unknown" : Model.CreatedBy)</dd>
            
            <dt class="col-sm-4">Modified By</dt>
            <dd class="col-sm-8">@(string.IsNullOrEmpty(Model.ModifiedBy) ? "Never" : Model.ModifiedBy)</dd>
        </dl>
    </div>
</div>
